:root {
    --black: #222;
    --white: #fff;
    --gray: #eaeded;
    --gold: #febd69;
    --blue: #232f3f;
    --blue-dark: #131921;
    --red: #f00;
    --red-dark: rgb(124, 11, 11);
    --green: #85bbc4;
    --orange: #FFA41C;
    --green-dark: #429252;
    --blue-dark2: #007185;
    --orange-dark: #e07c22;
    --red-bld: #B12704;
    --yellow: #F7CA00;
    

    --fs-xs: 12px;
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-lg: 18px;
    --fs-xl: 24px;

    
    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'Roboto Condensed', sans-serif;
    --font-ternary: Arial, Helvetica, sans-serif;

}
