@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@300;400;700&family=Teko:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}


ul a {
    text-decoration: none;
    padding: 20px;
    color: var(--white);
    padding-left: 30px;
        
}

ul {
    padding-top: 35px;
    padding-left: 80px;
    list-style: none;
    
}

#logo-container {
    height: 100px;
    width: 1370px;
    background-color: transparent;
    border-top: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
    

}

#logo {
    height: 98px;
    padding-left: 70px;
    /* border-right: 1px solid var(--white);
    border-left: 1px solid var(--white); */
    
}

#menu {
    height:100px;
    width: 828px;
}

#contatobox {
    height: 98px;
    width: 200px;
    background-color: #1E1A1B;
    /* border-right: 1px solid var(--white); */
    border-left: 1px solid var(--white);   

}

#contato {
    height: 98px;
    width: 100px;
    background-color: black;
    /* border-right: 1px solid var(--white);
    border-left: 1px solid var(--white);    */

}

#contato img {
    height: 100%;
    width: 100%;
}

#patch {
    height: 98px;
    width: 297px;
    

}
